.product-preview-card {
  &__title {
    font-style: bold;
    color: black;
  }

  &__description {
    color: blue;
  }

  &__price {
    font-style: bold;
    color: purple;
  }

  &__image {
    width: 10rem;
  }
}
