.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}
.button {
  color: black;
  padding: 15px 32px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.logo {
  padding: 15px 32px;
}
